@import "tailwindcss";

:root {

  @theme {

  --animate-marquee-stats: marquee 9s linear infinite;


  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}


  /* COLORS */

  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #BADEEF;
  --color-blue-thin: #F1F8FC;
  --color-green: #50A5A8;

  /* Neutral */
  --neutral-25: #FCFCFD;
  --neutral-50: #F8FAFC;
  --neutral-100: #EEF2F6;
  --neutral-200: #E3E8EF;
  --neutral-300: #CDD5DF;
  --neutral-400: #9AA4B2;
  --neutral-500: #697586;
  --neutral-600: #4B5565;
  --neutral-700: #364152;
  --neutral-800: #202939;
  --neutral-900: #121926;

  /* Primary */
  --primary-50: #4B8AF9;
  --primary-100: #2576F6;
  --primary-200: #0B63EF;
  --primary-300: #1C55CE;
  --primary-400: #0B49AE;
  --primary-500: #0A3C8E;
  --primary-600: #092F6E;
  --primary-700: #07224F;
  --primary-800: #071C3E;
  --primary-900: #07152F;

  /* Secondary */
  --secondary-200: #70BBDD;
  --secondary-250: #50A5A8;
  --secondary-300: #2CC0FF;
  --secondary-400: #20A9D1;
  --secondary-500: #1D8FB0;
  --secondary-600: #167C9E;
  --secondary-700: #0C5569;

  /* Success */
  --success-400: #16B364;
  --success-500: #099250;

  /* Error */
  --error-400: #F97066;
  --error-500: #F04438;

  /* Fonts */
  --font-display: var(--font-haas-grot);
  --font-body: var(--font-plus-jakarta);
}

/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-haas-grot), sans-serif;
  background: var(--color-white);
  color: var(--neutral-900);
  margin: 0;
}

.glow-text {
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.305),
    0 0 24px rgba(255, 255, 255, 0.4);
}

@keyframes marquee-logos {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes marquee-logos-reverse {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

.animate-marquee-logos {
  animation: marquee-logos 25s linear infinite;
}

.animate-marquee-logos-reverse {
  animation: marquee-logos-reverse 25s linear infinite;
}

html {
  scroll-behavior: smooth;
}